@import "_nullstyle.scss";

body {
    background: #E7F6FF;
    font-family: 'Inter';
}

#root {
    padding-top: 80px;
}
.page {
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: -1;
    
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    flex-direction: column;
}

.container {
    max-width: 930px;
    padding: 0 15px;
    margin: 0 auto;
}














@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "_header.scss";
@import '_slider.scss';
@import '_content.scss';
@import '_cardSneaker.scss';
@import '_common.scss';
@import '_overlay.scss';

