@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #E7F6FF;
  font-family: "Inter";
}

#root {
  padding-top: 80px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  flex-direction: column;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  width: 100%;
}
.header__body {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
}
.logo__body {
  display: flex;
  align-items: center;
  width: 245px;
}
.logo__icon {
  margin-right: 16px;
}
.logo__icon img {
  width: 40px;
  height: 40px;
}
.logo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}
.logo__subtitle {
  width: 189px;
  height: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height */
  color: #9D9D9D;
}

.user-bar__body {
  display: flex;
  width: 200px;
}
.user-bar__column {
  display: flex;
}
.user-bar__favorite-item {
  padding: 0 30px;
}
.trash {
  display: flex;
  align-items: center;
}
.trash__icon {
  padding-right: 10px;
}
.trash__count {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #5C5C5C;
}

.slider {
  height: 300px;
}

.content {
  width: 100%;
  padding: 45px 0;
}
.content__header {
  display: flex;
  justify-content: space-between;
}
.content__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #000000;
}
.content__find-input {
  width: 250px;
  height: 45px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #C4C4C4;
  padding-left: 45px;
  background-image: url("../../public/img/content-icon/find.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
}